$green: #b9ff66;
$dark: #191a23;
$black: #000;
$grey: #f3f3f3;
$h1-desk: 60px;
$h2-desk: 40px;
$h3-desk: 30px;
$h4-desk: 20px;
$p-desk: 18px;
$h1-table: 50px;
$h2-table: 40px;
$h3-table: 30px;
$h1-mob: 43px;
$h2-mob: 36px;
$h3-mob: 26px;
$h4-mob: 18px;
$p-mob: 16px;
$hover-sec: 0.3s;
$hover-btn: 0.6s;
$animation-sec: 0.5s;
